name: Production Sync & Deploy

on:
  push:
    branches:
      - main

jobs:
  # TAHAP 1: Cek Kualitas Kode
  check-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Build Project
        run: bun run build

  # TAHAP 2: Kirim ke Repo Pribadi (Manual Git Mode)
  sync-deploy:
    needs: check-quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Ambil semua history

      - name: Force Sync to Personal Repo
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        run: |
          # 1. Identitas Pura-pura (Biar Git gak nanya)
          git config --global user.email "wilsonphan002@gmail.com"
          git config --global user.name "wilsonPhan02"
          
          # 2. Tambah Remote URL dengan Token (Metode x-access-token)
          # Ini format paling sakti buat login pake token di command line
          git remote add target https://x-access-token:${API_TOKEN_GITHUB}@github.com/wilsonPhan02/sonix-fe-deploy.git
          
          # 3. Timpa Repo Tujuan
          # Kita pake --force (-f) biar isi repo pribadi sama persis kayak repo organisasi
          git push -f target main