name: Production Sync & Deploy

on:
  push:
    branches:
      - main

jobs:
  # TAHAP 1: Cek Kualitas (Build Test)
  check-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Build Project
        run: bun run build

  # TAHAP 2: Sync Pake Plugin cpina (Lebih Rapi)
  sync-deploy:
    needs: check-quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # INI KUNCINYA! Kita matiin token bawaan biar cpina bisa pake token sakti lu
          persist-credentials: false 

      - name: Push to Personal Repository (Vercel Trigger)
        uses: cpina/github-action-push-to-another-repository@main
        env:
          # Token Sakti lu masuk sini
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          # Email & Username buat history commit
          user-email: wilsonphan002@gmail.com
          user-name: wilsonPhan02
          
          # Tujuan: Akun Pribadi
          destination-github-username: 'wilsonPhan02'
          destination-repository-name: 'sonix-fe-deploy'
          
          # Branch Tujuan
          target-branch: main
          
          # (Opsional) Biar history git lebih rapi, copy folder root '.'
          source-directory: '.'